body {
  margin: 0;
  padding: 20px;
  background-color: #f7f7f7;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.cart-header h2 {
  font-size: 24px;
}

.cart-container {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}
.cart-details {
  flex: 1;
  padding: 0 20px;
}

.cart-item h4 {
  flex: 1;
  margin-left: 15px;
  font-size: 16px;
}

.cart-item span {
  font-weight: bold;
}
.quantity {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
}

.quantity button {
  background: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
}

.quantity span {
  font-size: 16px;
  min-width: 20px;
  text-align: center;
  display: inline-block;
}

.remove-btn {
  background-color: crimson;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-left:5px;
}

.cart-summary {
  margin-top: 20px;
  text-align: right;
}

#purchase-btn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#purchase-btn:hover {
  background-color: #555;
}
