* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
    position:fixed;
    right:0;
    top:0;
    width:100%;
    z-index:9999;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding:17px 11%;
    transition:all 0.45s ease;
    z-index: 2;
    font-size: 14px;
}
.logo{
    color:black;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index:3;
    margin-left:-60px;
    
}
.nav{
    display:flex;
    list-style: none;
    gap:25px;
}
.nav li a{
    color:black;
    text-decoration: none;
    transition:  0.3s ease;
    font-size: 14px;
}
.nav a:hover{
    color:rgb(151, 145, 145);
}
.nav a.portfolio{
    color:rgb(151, 145, 145);
}

.icons{
    display: flex;
    align-items: center;
    color:black;
    margin-right: -20px;

}

.icons i{
    height:35px;
    width:35px;
    display:inline-flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    color:black;
    cursor: pointer;
    font-size: 14px;
}
.icons i:hover{
    color:rgb(151, 145, 145);
}
 #menu-icon{
    font-size: 23px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    text-decoration: none;
}
.cart-icon {
  position: relative;
  color:black;
}

#cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}
.search-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: all 0.3s ease;
}
#search-box {
  width: 0;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.search-container:hover #search-box {
  width: 180px;
  opacity: 1;
}

/* //RESPONSIBLE MEDIA QUERY */
@media (min-width: 1441px) {
  header {
    padding: 20px 12%;
  }
  .logo {
    font-size: 32px;
  }
  .nav a {
    font-size: 16px;
  }
}

/* ----- Laptops (1025px–1440px) ----- */
@media (min-width: 1025px) and (max-width: 1440px) {
  header {
    padding: 18px 9%;
  }
  .logo {
    font-size: 28px;
  }
  .nav a {
    font-size: 15px;
  }
}

/* ----- Tablets (768px–1024px) ----- */
@media (min-width: 768px) and (max-width: 1024px) {
  header {
    padding: 17px 7%;
  }
  .logo {
    font-size: 26px;
    margin-left:-3px;
  }
  .nav {
    gap: 18px;
  }
  .nav a {
    font-size: 14px;
  }
}
/* ----- Mobile (min 480px) ----- */
  @media (max-width: 480px) {
    header {
    padding: 10px 6%; 
    justify-content: space-between; 
    position: relative;
  }

  .logo {
    font-size: 22px;
    margin-left: 0;
  }

  .icons {
    display:none;
  }

  #menu-icon {
    display: block;
    z-index: 1001;
    color:black;
    font-size: 18px;
  }
  .nav {
    position: absolute;
    top: 40px;
    left: 100px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: none;
    padding: 15px 0;
    display: none !important;
    gap: 10px;
    color:black;
    z-index: 1000;
  }

  .nav.active {
    display: flex !important;
  }
  .nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
}

/* TEXT */
.port-txt {
  text-align: center;
  margin: 130px 0 50px 0; 
}

.port-txt h2 {
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 10px;
}

.port-txt p {
  font-size: 1rem;
  color: #666;
  max-width: 600px;
  margin: 0 auto; 
  line-height: 1.6;
}


/* IMAGES */
.container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.row img {
  border-radius: 10px;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}
.row img {
  width: 80%;
  height: 280px;
  object-fit:cover;
}

.img-box {
  width: 70%;
  aspect-ratio: 1/1; 
  overflow: hidden;
  border-radius: 10px;
}

.img-box img {
  width: 80%;
  height: 100%;
  object-fit: cover; /
}
.row.g-4 {
  margin-top: 20px;
}