* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f2f5;
}

.auth-container {
    width: 100%;
    max-width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    padding: 40px 30px;
}

.form-toggle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap:20px;
}

.form-toggle button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
    background: #eee;
    font-weight: bold;
    transition: all 0.3s;
}

.form-toggle button.active {
    background: #333;
    color: white;
}

.form {
    display: none;
    flex-direction: column;
    gap: 15px;
}

.form.active {
    display: flex;
}

.form input {
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom:10px;
}

.submit-btn {
    padding: 12px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    width: 100%;
}

.submit-btn:hover {
    background: black;
}
.error-message {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  display: block;
  height: 14px; /* keeps space even if no error */
}
.password-container {
    position: relative;
    width: 100%;
}

.password-container .togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Responsive */
@media (max-width: 480px) {
    .auth-container {
        padding: 20px 15px;
    }

    .form-toggle button {
        padding: 10px;
        font-size: 14px;
    }

    .submit-btn {
        padding: 10px;
        font-size: 14px;
    }
}


